@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "theme";
@import "header";
@import "banner";
@import "contents";
@import "alarm";

body {
  margin: 0;
  color: $primary;
  font-family: "Pretendard";
}

header {
  @extend %maxWidth;
  @extend %headerStyle;
}

.banner {
  @extend %bannerStyle;
}

.contents {
  @extend %maxWidth;
  @extend %contentsStyle;
}

.alarm {
  @extend %alarmStyle;
}

.introduce {
  @extend %maxWidth;
  margin-top: 72px;
}

.introduceTitle {
  color: $techitOrange;
  font-weight: 600;
}

.introduceDescription {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 600;
}

.introduceDetail {
  margin-top: 16px;
  color: $secondary;
}

.introduceGrid {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  justify-items: center;
}

@media (min-width: 1024px) {
  .introduceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.introduceCard {
  position: relative;
}

.introduceCard img {
  width: 600px;
}

.introduceCardMessage {
  position: absolute;
  top: 0;
  font-size: 18px;
  padding: 40px;
}

.introduceCardTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.introduceCardDescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

.introduceCardDetail {
  font-size: 14px;
  color: $secondary;
  font-weight: 600;
}

.sitemap {
  @extend %maxWidth;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid $border;
  margin-top: 120px;
  padding-bottom: 32px;
  border-bottom: 1px solid $border;
}

.sitemapLogo {
  align-self: start;
}

.sitemapMenu {
  display: flex;
}

.sitemapCompany {
  margin-left: 112px;
}

.sitemapTitle {
  font-size: 12px;
  font-weight: 600;
  color: $secondary;
  margin-bottom: 20px;
}

.sitemapButton {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

footer {
  @extend %maxWidth;
  font-size: 12px;
  color: $secondary;
  padding-bottom: 24px;
}

.blockchainSchool {
  display: flex;
  margin-top: 16px;
}

.blockchainSchool div {
  background-color: deeppink;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.footerInfo {
  margin-top: 12px;
  margin-bottom: 4px;
}
