@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
footer, .sitemap, .introduce, .contents, header {
  max-width: 1280px;
  margin: auto;
}

.alarm .alarmMessage, .banner .bannerMessage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 196px;
}

button {
  border: 0;
  background-color: transparent;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
header .menu .logo {
  width: 108px;
}
header .menu button {
  display: none;
  border: 0px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  font-weight: 600;
}
header .menu button:nth-child(2) {
  margin-left: 44px;
}
@media (min-width: 1280px) {
  header .menu button {
    display: inline-block;
  }
}
header .loginBox {
  display: flex;
  align-items: center;
}
header .loginBox .login {
  display: inline-block;
  border: 1px solid #d4d4d4;
  border-radius: 9999px;
  padding: 8px 16px;
  font-size: 14px;
}
@media (min-width: 1280px) {
  header .loginBox .login {
    color: #737373;
    font-size: 16px;
    border: 0px;
    padding: 0px;
  }
}
header .loginBox .ellipsis {
  width: 24px;
  margin-left: 16px;
}
@media (min-width: 1280px) {
  header .loginBox .ellipsis {
    display: none;
  }
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.banner .bannerMessage {
  font-size: 18px;
}
.banner .bannerMessage .bannerTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}

.contents .contentsGrid .contentsCard .contentsCardEnd, .contents .contentsGrid .contentsCard .contentsCardIng, .contents .contentsGrid .contentsCard .contentsCardComplete {
  display: inline;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

.contents {
  margin-top: 72px;
}
.contents .contentsTitle {
  color: #e67800;
  font-weight: 600;
}
.contents .contentsDescription {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 600;
}
.contents .contentsDetail {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.contents .contentsDetail div:nth-child(1) {
  color: #737373;
}
.contents .contentsGrid {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  justify-items: center;
}
@media (min-width: 768px) {
  .contents .contentsGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .contents .contentsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1280px) {
  .contents .contentsGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.contents .contentsGrid .contentsCard {
  width: 290px;
}
.contents .contentsGrid .contentsCard .contentsCardImg {
  display: inline-block;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 12px;
}
.contents .contentsGrid .contentsCard .contentsCardImg img {
  width: 290px;
  transition: all 0.5s;
}
.contents .contentsGrid .contentsCard .contentsCardImg img:hover {
  transform: scale(1.1);
}
.contents .contentsGrid .contentsCard .contentsCardComplete {
  border: 1px solid #059669;
  color: #059669;
}
.contents .contentsGrid .contentsCard .contentsCardIng {
  border: 1px solid #1d4ed8;
  color: #1d4ed8;
}
.contents .contentsGrid .contentsCard .contentsCardEnd {
  border: 1px solid #3f3f46;
  color: #3f3f46;
}
.contents .contentsGrid .contentsCard .contentsCardTitle {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 600;
}
.contents .contentsGrid .contentsCard .contentsCardDescription {
  margin-top: 8px;
  font-size: 18px;
}
.contents .contentsGrid .contentsCard .contentsCardDate {
  color: #a3a3a3;
  margin-top: 16px;
}

.alarm {
  position: relative;
  margin-top: 96px;
}
.alarm img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.alarm .alarmMessage {
  font-size: 18px;
}
.alarm .alarmTitle {
  font-size: 14px;
  font-weight: 600;
  color: #072c56;
  margin-bottom: 24px;
}
.alarm .alarmDescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}
.alarm .alarmDetail {
  font-size: 14px;
  color: #737373;
  font-weight: 600;
}

.introduce {
  margin-top: 72px;
}
.introduce .introduceTitle {
  color: #e67800;
  font-weight: 600;
}
.introduce .introduceDescription {
  margin-top: 16px;
  font-size: 26px;
  font-weight: 600;
}
.introduce .introduceDetail {
  margin-top: 16px;
  color: #737373;
}
.introduce .introduceGrid {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  justify-items: center;
}
@media (min-width: 1024px) {
  .introduce .introduceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.introduce .introduceGrid .introduceCard {
  position: relative;
}
.introduce .introduceGrid .introduceCard img {
  width: 600px;
}
.introduce .introduceGrid .introduceCard .introduceCardMessage {
  position: absolute;
  top: 0;
  font-size: 18px;
  padding: 40px;
}
.introduce .introduceGrid .introduceCard .introduceCardTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.introduce .introduceGrid .introduceCard .introduceCardDescription {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.introduce .introduceGrid .introduceCard .introduceCardDetail {
  font-size: 14px;
  color: #737373;
  font-weight: 600;
}

body {
  margin: 0;
  color: #222222;
  font-family: "Pretendard";
}

.sitemap {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid #d4d4d4;
  margin-top: 120px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d4d4d4;
}

.sitemapLogo {
  align-self: start;
}

.sitemapMenu {
  display: flex;
}

.sitemapCompany {
  margin-left: 112px;
}

.sitemapTitle {
  font-size: 12px;
  font-weight: 600;
  color: #737373;
  margin-bottom: 20px;
}

.sitemapButton {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

footer {
  font-size: 12px;
  color: #737373;
  padding-bottom: 24px;
}

.blockchainSchool {
  display: flex;
  margin-top: 16px;
}

.blockchainSchool div {
  background-color: deeppink;
  color: whitesmoke;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.footerInfo {
  margin-top: 12px;
  margin-bottom: 4px;
}

/*# sourceMappingURL=style.css.map */
